* {
  padding: 0;
  margin: 0;
  color: white;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  transform: translateX(-10px px);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--color-background);
}
::-webkit-scrollbar-corner {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: red;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #1a1919;
}

.all {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  position: fixed;
  top: 10px;
  left: 10px;
  display: grid;
  grid-template-columns: 10% 70% 20%;
  gap: 10px;
}

.header {
  display: grid;
  background-color: #222120;
  border-radius: 5px;
  grid-template-rows: 10% 80% 10%;
}

.logo {
  display: flex;
  background-color: #222120;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #222120;
  justify-content: space-around;
  align-items: center;
}

.header-setting {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  background-color: #222120;
  border-radius: 5px;
  grid-template-rows: 10% 80% 10%;
}

.piano-keyboard {
  display: flex;
  width: 100%;
}

.piano-setting {
}

.piano-setting-volume {
  background-color: red;
}

.white-key {
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #24272e;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}

.white-key:hover {
  background-color: #ebebeb;
}

.white-key:active {
  background-color: #dadada;
}

.black-key {
  height: 70%;
  border-radius: 0 0 0.3% 0.3%;
  box-sizing: border-box;
  position: absolute;
  background-color: #070a0f;
  cursor: pointer;
}

.black-key:hover {
  background-color: #24272e;
}

.chat {
  display: grid;
  background-color: #222120;
  border-radius: 5px;
  grid-template-rows: 10% 75% 15%;
}

.chat-output {
}

.chat-input {
}

.chat-area {
  background-color: #2a2928;
  resize: none;
  border: none;
  caret-color: red;
}
