* {
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #1a1919;
}

.all {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  background-color: #121211;
}

.header {
  background-color: #222120;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  width: fit-content;
}

.nav {
  background-color: #222120;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* Two columns with a ratio of 2:1 */
  gap: 20px;
  padding: 20px;
  height: 100%;
}

.piano-container {
  background-color: #222120;
  padding: 20px;
  border-radius: 8px;
}

.piano {
  display: flex;
  border-radius: 0.62em;
  width: 80vw;
  height: 20vh;
}

.chat-container {
  background-color: #222120;
  padding: 20px;
  border-radius: 8px;
}

.chat {
}

.white-key {
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0 0 0.3% 0.3%;
  border: 2px solid #24272e;
  cursor: pointer;
}

.white-key:hover {
  background-color: #ebebeb;
}

.black-key {
  height: 50%;
  border-radius: 0 0 0.3% 0.3%; /* 0.3em / parent width * 100 */
  box-sizing: border-box;
  position: absolute;
  background-color: #070a0f;
  cursor: pointer;
}

.black-key:hover {
  background-color: #24272e;
}
