.all {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  position: fixed;
  top: 10px;
  left: 10px;
  display: grid;
  grid-template-columns: 1fr 11fr 2fr;
  grid-gap: 10px;
}

.header {
  display: grid;
  background-color: #222120;
  border-radius: 5px;
  grid-template-rows: 50px 1fr 50px;
}

.logo,
.menu,
.header-setting {
  display: flex;
  background-color: #222120;
  justify-content: center;
  align-items: center;
}

.menu {
  flex-direction: column;
  justify-content: space-around;
}

.main {
  display: grid;
  background-color: #222120;
  border-radius: 5px;
  grid-template-rows: 1fr 4fr 2fr 1fr;
}

.piano-keyboard {
  display: flex;
  position: relative;

  .black-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 60%;
  }

  .white-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

    .white-key {
      width: calc(100% / 52);
      height: 100%;
      background-color: #ffffff;
      border-radius: 0 0 0.3em 0.3em;
      border: 1px solid #24272e;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        background-color: #ebebeb;
      }
    }

    .black-key {
      width: calc(100% / 52 / 3 * 2.5);
      height: 100%;
      border-radius: 0 0 0.3em 0.3em;
      box-sizing: border-box;
      position: absolute;
      background-color: #070a0f;
      cursor: pointer;
      z-index: 1;

      &:hover {
        background-color: #24272e;
      }

      @for $i from 1 through 36 {
        &:nth-child(#{$i}) {
          left: calc(100% / 52 * #{($i - 1) * 2 + 0.5});
        }
      }
    }
  }
}
