@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #1a1919;
  --sub1: #2a2828;
  --sub2: #222020;
  --highlight: #d74242;
  --subHighlight: #ffa5a5;
}

* {
}

body {
  background-color: var(--main);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.piano-cursor {
  cursor: url('/images/cursor/cursor.webp'), auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--sub1);
}

::-webkit-scrollbar-thumb {
  background: var(--highlight);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--subHighlight);
}



.octave {
  display: flex;
  margin: 0;
  padding: 0;
}

.key {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  background: #f4f4f4;
  color: #363636;
  border: 1px #888 solid;
  border-right: none;
  border-radius: 0 0 7% 7%;
  width: 36px;
  height: 125px;
}

.key:active {
  background: #81ffd6;
}

.black {
  background: #363636;
  color: #f4f4f4;
  margin: 0 -15px;
  width: 28px;
  height: 80px;
  z-index: 2;
}

.controls {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  width: 1920px;
  margin: auto;
}

/* custom checkbox */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: #3071a9;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label {
  font-size: 1.3em;
  display: block;
}

/* custom range */
input[type='range'] {
  margin: 18px 0;
  width: 300px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type='range']::-moz-range-track {
  width: 300px;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type='range']::-ms-track {
  width: 300px;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type='range']::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type='range']:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type='range']:focus::-ms-fill-upper {
  background: #367ebd;
}

@media only screen and (max-width: 1024px) {
  .controls {
    display: block;
  }
}
