@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #1a1919;
  --sub1: #2a2828;
  --sub2: #222020;
  --highlight: #d74242;
  --subHighlight: #ffa5a5;
}

* {
  list-style: none;
}

body {
  background-color: var(--main);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.piano-cursor {
  cursor: url('/images/cursor/cursor.webp'), auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--sub1);
}

::-webkit-scrollbar-thumb {
  background: var(--highlight);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--subHighlight);
}

.octave {
  display: flex;
  margin: 0;
  padding: 0;
}

.piano-key:active {
  background: var(--highlight);
}

@media only screen and (max-width: 1024px) {
  .controls {
    display: block;
  }
}









.black {
  background: #363636;
  color: #f4f4f4;
  margin: 0 -15px;

}