.piano-key {
  display: inline-block;
  width: 50px;
  height: 200px;
  border: 1px solid #000;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.white-key {
  background-color: #f0f0f0;
  margin-right: 5px; /* 조절 가능한 간격 */
}

.black-key {
  background-color: #000;
  color: #fff;
  width: 35px; /* 조절 가능한 크기 */
  height: 140px; /* 조절 가능한 크기 */
  margin-right: 3px; /* 조절 가능한 간격 */
  z-index: 1; /* 흰 건반 위에 나타나도록 함 */
}

.pressed {
  background-color: #ff0;
}